@import "./tailwindcss.less";

.VPNavBar {
  .item.appearance, .VPNavBarAppearance {
    @apply !hidden;
  }
}
.VPNavScreenAppearance {
  @apply !hidden;
}

@font-face {
  font-family: "neue machina"; 
  src: url('fonts/SmileySans-Oblique.ttf.woff2') format('woff2'),
       url('fonts/SmileySans-Oblique.ttf') format('truetype');
}

body {
  font-family: "neue machina,sans-serif,微软雅黑";
}